$magenta: #F9C4DB;
$purple: #BB57B9;
$opacity-white10: rgba(255, 255, 255, .1);
$opacity-white30: rgba(255, 255, 255, .3);
$opacity-white50: rgba(255, 255, 255, .5);
$blue: #18489E;
$dark-blue: #1B2B5A;
$light-blue: #0076FF;
$white: white;
