<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= render("meta_tags.html", assigns) %>

    <title>Looseleaf</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script>
      window.assets = {
        sadFace: "<%= static_path(@conn, "/images/sadness_icon.svg") %>",
        angerFace: "<%= static_path(@conn, "/images/anger_icon.svg") %>",
        disgustFace: "<%= static_path(@conn, "/images/disgust_icon.svg") %>",
        joyFace: "<%= static_path(@conn, "/images/joy_icon.svg") %>",
        fearFace: "<%= static_path(@conn, "/images/fear_icon.svg") %>",
        questionIcon: "<%= static_path(@conn, "/images/question.svg") %>",
        xIcon: "<%= static_path(@conn, "/images/x_icon.svg") %>",
      }
    </script>
  </head>

  <body>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <div class="layout__container">
      <div class="layout__nav-container">
        <label for="nav-trigger"></label>
      </div>

      <%= render "desktop_nav_links.html", assigns %>
      <%= render "nav_link.html", assigns %>

      <%= render @view_module, @view_template, assigns %>

      <div class="layout__footer-container">
        <%= link "About", to: page_path(@conn, :about_us), class: "layout__footer-link" %>
        <%= link "Feedback", to: "mailto:us@loose-leaf.io", class: "layout__footer-link" %>
      </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
