<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Looseleaf</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <div class="layout__container">
      <div class="layout__nav-container">
        <label for="nav-trigger"></label>
      </div>
      <div class="layout__nav-container-desktop">
        <div class="layout__nav-left">
          <%= link("Loose Leaf", to: "/", class: "layout__nav-home-button") %>
        </div>
        <div class="layout__nav-right">
          <div class="layout__nav-right-container">
            <%= link "New Entry", to: entry_path(@conn, :new),
            class: "layout__nav-button" %>
            <%= link "Mood Map", to: analysis_path(@conn, :index),
            class: "layout__nav-button" %>
            <%= link "Logout", to: session_path(@conn, :delete, :delete),
            method: :delete, class: "layout__nav-button" %>
          </div>
        </div>
      </div>
      <div class="layout__off-canvas-menu-container">
        <%= link to: "/", class: "layout__off-canvas-link" do %>
          <h1 class="layout__off-canvas-header">Loose Leaf</h1>
        <% end %>
        <ul class="layout__off-canvas-list">
          <li class="layout__off-canvas-list-item">
            <%= link to: entry_path(@conn, :new), class: "layout__off-canvas-link" do %>
              <img class="layout__off-canvas-icon"
                  src=<%= static_path(@conn, "/images/hamburger_pencil_icon.svg") %>>
              New Entry
            <% end %>
          </li>
          <li class="layout__off-canvas-list-item">
            <%= link to: analysis_path(@conn, :index), class: "layout__off-canvas-link" do %>
              <img class="layout__off-canvas-icon"
                   src=<%= static_path(@conn, "/images/hamburger_face_icon.svg") %>>
              Mood Map
            <% end %>
          </li>
          <li class="layout__off-canvas-list-item">
            <%= link to: session_path(@conn, :delete, :delete), method: :delete, class: "layout__off-canvas-link" do %>
              <img class="layout__off-canvas-icon"
                   src=<%= static_path(@conn, "/images/hamburger_logout_icon.svg") %>>
              Logout
            <% end %>
          </li>
        </ul>
      </div>

      <%= render @view_module, @view_template, assigns %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
