<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Looseleaf</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="layout__container">
      <div class="layout__nav-container">
        <div class="layout__nav-left">
          <%= link("Loose Leaf", to: "/", class: "layout__nav-home-button") %>
        </div>
        <div class="layout__nav-right">
          <div class="layout__nav-right-container">
            <%= link "New Entry", to: entry_path(@conn, :new),
            class: "layout__nav-button" %>
            <%= link "Analysis", to: analysis_path(@conn, :index),
            class: "layout__nav-button" %>
            <%= link "Logout", to: session_path(@conn, :delete, :delete),
            method: :delete, class: "layout__nav-button" %>
          </div>
        </div>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= render @view_module, @view_template, assigns %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
