<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Looseleaf</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class=home-layout__main-container>
      <div class=home-layout__inner-container>
        <div class=home-layout__copy-container>
          <h1 class=home-layout__header-text>Loose Leaf</h1>
          <p class=home-layout__copy-text>
          The journaling app that promotes self reflection by identifying
          contextual insights and mood trends from self-clearing entries
          </p>
        </div>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
    <div class="home-layout__background-image">
    </div>
  </body>
</html>
