.home-layout__main-container {
  @extend %full-container;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  background-image: $gradient;
  overflow: auto;
}

.home-layout__background-image {
  @extend %full-container;
  position: absolute;
  top: 0;
  right: 0;

  background-image: url("/images/pencils_and_papers.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  pointer-events: none;
}

.home-layout__inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40em;
  text-align: center;
  margin: $base-spacing;
}

.home-layout__header-text {
  @extend %header-typeface;

  color: $white;
  font-size: $header-font-size;
  letter-spacing: .5em;
  margin-right: -.5em;
}
