%user-control__main-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
}

%user-control__form {
  display: flex;
  flex-direction: column;
  font-size: $base-font-size;

  input {
    @extend %base-input;
  }

  @include tablet {
    font-size: $base-font-size;
  }

  @include desktop {
    font-size: $desktop-font-size;
  }
}

%user-control__button {
  @extend %base-button;

  align-self: center;
  margin-top: $medium-spacing;
  width: 6em;
  font-size: $small-header-font-size;

  @include tablet {
    font-size: $small-header-font-size;
  }

  @include desktop {
    font-size: $desktop-small-header-font-size;
  }
}

%user-control__error-container {
  margin-top: $small-spacing;
}

%user-control__error {
  @extend %primary-typeface;

  color: $white;
  font-size: $small-header-font-size;
}
