$gradient: linear-gradient(to bottom right, $magenta, $blue);
$base-border: 2px solid $opacity-white50;

%base-button {
  @extend %primary-typeface;

  background-color: transparent;
  text-decoration: none;
  color: white;
  padding: $small-spacing * .5 $small-spacing;
  border: 2px solid white;
  border-radius: 15px;
  transition: background-color $base-transition;
  outline: none;

  &:hover, &:active {
    background-color: $light-blue;
  }
}

%base-input {
  @extend %primary-typeface;

  &::-webkit-input-placeholder {
    color: $opacity-white50;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $opacity-white50;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $opacity-white50;
  }

  &:-ms-input-placeholder {
    color: $opacity-white50;
  }

  color: white;
  font-size: 1.3em;
  text-decoration: none;
  border: 0;
  border-bottom: $base-border;
  border-radius: 0;
  padding: $small-spacing;
  margin: $small-spacing;
  background-color: transparent;

  transition: border-bottom $base-transition;

  &:active, &:focus {
    outline: none;
    border-bottom: 2px solid white;
  }
}

%full-container {
  width: 100%;
  height: 100%;
}
