.analysis__main-container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.analysis__chart-container {
  display: flex;
  flex: 1;
}

.analysis__copy-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.analysis__header {
  @extend %primary-typeface;

  color: white;
  text-align: center;
  margin-bottom: $base-spacing;
}

.analysis__copy {
  @extend %primary-typeface;

  color: white;
  text-align: center;
}

.analysis__loose-leaf-man {
  height: 30%;
  width: 30%;
  margin-bottom: $base-spacing;
}

.analysis__modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  max-width: 30em;
  background-color: white;
  text-align: center;
  padding: $base-spacing;

  transform: translateX(-50%) translateY(-50%);
}

.analysis__modal-datapoints-container {
  @extend %primary-typeface;

  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.analysis__modal-header {
  @extend %primary-typeface;
}

.analysis__modal-percents {
  font-size: 1.2em;
}

.analysis__modal-close-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-50%) translateY(50%);
}
