.home__buttons-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home__button {
  @extend %base-button;

  font-size: 1.5em;
  color: white;
  margin: 0 $base-spacing;
}

.home__extended {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
}

.home__block1 {
  display: flex;
}

.home__block1-info {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: center;
  margin: $base-spacing * 2;
}

.home__block1-img {
  height: 40%;
}

.home__block1-header {
  @extend %primary-typeface;

  font-size: 1.5em;
  margin-bottom: $small-spacing;
}

.home__block1-copy {
  @extend %primary-typeface;

  font-size: 1em;
}
