.home__buttons-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home__button {
  @extend %base-button;

  color: $white;
  margin: 0 $base-spacing;
  font-size: $small-header-font-size;

  @include tablet {
    font-size: $desktop-small-header-font-size;
  }

  @include desktop {
    font-size: $desktop-small-header-font-size;
  }
}

.home__extended {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  padding: $base-spacing;
  box-sizing: border-box
}

.home__block-header {
  @extend %primary-typeface;
  margin-top: $base-spacing;
}

.home__block1 {
  display: flex;
  flex: 1;
  flex-flow: column;
}

.home__block1-info-container {
  display: flex;
  flex: 1;
  flex-flow: column;

  @include tablet {
    flex-flow: row;
  }

  @include desktop {
    flex-flow: row;
  }
}

.home__block1-info {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: center;
  margin: $base-spacing;

  @include tablet {
    margin: $base-spacing * 2;
  }

  @include desktop {
    margin: $base-spacing * 2;
  }
}

.home__block1-img {
  width: 50%;
  align-self: center;
  margin-bottom: $small-spacing;

  @include tablet {
    height: 40%;
  }

  @include desktop {
    height: 40%;
  }
}

.home__block1-header {
  @extend %primary-typeface;

  font-size: $small-header-font-size;
  margin-bottom: $small-spacing;

  @include tablet {
    font-size: $desktop-small-header-font-size;
  }

  @include desktop {
    font-size: $desktop-small-header-font-size;
  }
}

.home__block1-copy {
  @extend %primary-typeface;

  font-size: $base-font-size;

  @include tablet {
    font-size: $desktop-font-size;
  }

  @include desktop {
    font-size: $desktop-font-size;
  }
}

.home__about-us-link {
  @extend %primary-typeface;
  color: black;
  font-size: $small-header-font-size;
  margin: $base-spacing;
  text-decoration: none;

  &:visited {
    color: black;
  }
}

.home__arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1em;

  transform: translateX(-50%) translateY(5%) rotate(90deg);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
  transform: translateX(-50%) translateY(5%) rotate(90deg);
  }
  40% {
  transform: translateX(-50%) translateY(40%) rotate(90deg);
  }
  60% {
    transform: translateX(-50%) translateY(30%) rotate(90deg);
  }
}

.home__copy-container {
  margin-bottom: $base-spacing;
}

.home__copy-text {
  @extend %primary-typeface;

  color: $white;
  margin-top: $base-spacing;
  padding: $base-spacing;
  font-size: 1em;
  letter-spacing: .05em;

  @include desktop {
    letter-spacing: .2em;
    font-size: 1.2em;
  }
}
