.layout__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-image: $gradient;
}

.layout__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 5em;
  background-color: $opacity-white30;
}

.layout__nav-left {
  display: flex;
  flex: 1;
  align-items: center;
}

.layout__nav-home-button {
  @extend %header-typeface;

  margin-left: $small-spacing;
  color: white;
  text-decoration: none;
  font-size: 2.5em;
  letter-spacing: .2em;

  &:hover {
    animation: color-me-in 3s infinite;
  }
}

.layout__nav-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end
}

.layout__nav-right-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 21px;
  padding-right: 21px;
}

.layout__nav-button {
  @extend %primary-typeface;

  font-size: 1.04em;
  text-decoration: none;
  color: white;
  letter-spacing: .2em;
  margin: 0 $small-spacing;
  transition: color $base-transition;

  &:active, &:hover {
    color: $light-blue;
  }
}

@keyframes color-me-in {
  0% {
    color: white;
  }
  25% {
    color: $magenta;
  }
  50% {
    color: $blue;
  }
  75% {
    color: $magenta;
  }
  100% {
    color: white;
  }
}
