.layout__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-image: $gradient;
  transform: translateX(0);
  transition: transform $base-transition;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.nav-trigger:checked ~ .layout__container {
  transform: translateX(20em);
  transition: transform $base-transition;
}

.nav-trigger:checked ~ .layout__container > .layout__nav-container >
label[for="nav-trigger"] {
  transform: rotate(90deg);
  transition: transform $base-transition;
}

label[for="nav-trigger"] {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
  transform: rotate(0deg);
  transition: transform $base-transition;

  @include desktop {
    display: none;
  }
}

.layout__nav-container {
  position: relative;
}

.layout__off-canvas-menu-container {
  position: fixed;
  height: 100%;
  width: 20em;
  background-color: white;
  transform: translateX(-100%);

  @include desktop {
    display: none;
  }
}

.layout__nav-container-desktop {
  display: none;
  flex-direction: row;
  justify-content: space-between;

  height: 5em;
  background-color: $opacity-white30;

  @include desktop {
    display: flex;
  }
}

.layout__nav-left {
  display: flex;
  flex: 1;
  align-items: center;
}

.layout__nav-home-button {
  @extend %header-typeface;

  margin-left: $small-spacing;
  color: white;
  text-decoration: none;
  font-size: 2.5em;
  letter-spacing: .2em;

  &:hover {
    animation: color-me-in 3s infinite;
  }
}

.layout__nav-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end
}

.layout__nav-right-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 21px;
  padding-right: 21px;
}

.layout__nav-button {
  @extend %primary-typeface;

  font-size: 1.04em;
  text-decoration: none;
  color: white;
  letter-spacing: .2em;
  margin: 0 $small-spacing;
  transition: color $base-transition;

  &:active, &:hover {
    color: $light-blue;
  }
}

@keyframes color-me-in {
  0% {
    color: white;
  }
  25% {
    color: $magenta;
  }
  50% {
    color: $blue;
  }
  75% {
    color: $magenta;
  }
  100% {
    color: white;
  }
}
