.new-entry__main-container {
  display: flex;
  flex: 1;

  @include desktop {
    padding: $medium-spacing;
  }
}

.new-entry__form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.new-entry__label-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4em;
  width: 100%;
  text-align: center;
}

.new-entry__label {
  @extend %primary-typeface;

  color: white;
  font-size: $small-header-font-size;

  @include tablet {
    font-size: $desktop-small-header-font-size;
  }

  @include desktop {
    font-size: $desktop-small-header-font-size;
  }
}

.new-entry__textarea {
  @extend %base-input;
  display: flex;
  flex: 1;

  padding: $small-spacing;
  margin: $small-spacing;
  font-size: 1em;
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;

  &:active, &:focus {
    border: none;
  }

  @include tablet {
    padding: $base-spacing;
    font-size: $small-header-font-size;
  }

  @include desktop {
    padding: $base-spacing;
    font-size: $small-header-font-size;
  }
}

.new-entry__submit-button {
  @extend %base-button;

  font-size: $small-header-font-size;
  margin: $base-spacing;
  align-self: flex-end;

  @include tablet {
    font-size: $desktop-small-header-font-size;
  }
}
