.password-reset__main-container {
  @extend %user-control__main-container;
}

.password-reset__header {
  @extend %primary-typeface;

  padding: $base-spacing;

  color: white;
  font-size: $small-header-font-size;

  @include desktop {
    font-size: $desktop-small-header-font-size;
  }
}

.password-reset__form {
  @extend %user-control__form;
}

.password-reset__submit-button {
  @extend %user-control__button;
}
