.sign-up__main-container {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 50%;
}

.sign-up__form {
  display: flex;
  flex-direction: column;

  width: 100%;

  input {
    @extend %base-input;
  }
}

.sign-up__submit-button {
  @extend %base-button;

  align-self: center;
  margin-top: $base-spacing * 2;
  width: 6em;
  font-size: 1.5em;
}
