.sign-in__main-container {
  @extend %user-control__main-container;
}

.sign-in__form {
  @extend %user-control__form
}

.sign-in__submit-button {
  @extend %user-control__button
}

.sign-in__new-account-copy {
  @extend %primary-typeface;

  margin-top: $base-spacing * 2;
  color: $white;
}

.sign-in__link {
  color: $white;
}

.sign-in__form-errors-container {
  @extend %user-control__error-container;
}

.sign-in__form-error {
  @extend %user-control__error;
}
